<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::header"></head>
<body>
<div th:replace="base::nav"></div>
<div class="container">
    <!-- download -->
    <div class="row my-5">
        <div class="col-md-12 column">
            <div class="card">
                <div class="card-header">
                    下载
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="POST" th:action="@{/download}" role="form">
                        <div class="form-row">
                            <div class="input-group mb-3">
                                <input type="url" class="form-control" name="url" placeholder="请输入下载地址"/>
                                <div class="input-group-append">
                                    <label class="input-group-text"><input type="radio" name="type" value="0">&nbsp;&nbsp;wget</label>
                                    <label class="input-group-text"><input type="radio" name="type" value="1">&nbsp;&nbsp;aria2</label>
                                    <label class="input-group-text"><input type="radio" name="type" value="2">&nbsp;&nbsp;tumblr</label>
                                    <button type="submit" class="btn btn-primary">下载</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- file-list-->
    <div class="row my-5">
        <div class="col-md-12 column">
            <div class="card">
                <div class="card-header">
                    文件列表
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>文件名称</th>
                            <th>相对路径</th>
                            <th>文件大小</th>
                            <th>最后修改时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="file:${files}">
                            <td><span th:text="${file.fileName}"></span></td>
                            <td><span th:text="${file.relativePath}"></span></td>
                            <td><span th:text="${file.fileSize}"></span></td>
                            <td><span th:text="${#temporals.format(file.lastModifiedTime,'yyyy-MM-dd HH:mm:ss')}"></span></td>
                            <td>
                                <a th:href="@{/download-file(path=${file.relativePath})}">下载</a></span>
                                <a th:href="@{/delete-file(path=${file.relativePath})}">删除</a></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
