<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/floating-labels.css}" rel="stylesheet">
</head>
<body class="vsc-initialized">
<form class="form-signin" th:action="@{/login}" method="post">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">vps-tools</h1>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputEmail" class="form-control" name="username" placeholder="用户名" required autofocus>
        <label for="inputEmail">用户名</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="密码" required>
        <label for="inputPassword">密码</label>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="remember-me"> 记住我
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <p class="mt-5 mb-3 text-muted text-center">zuoban &copy;2018</p>
</form>
</body>
</html>