<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>操作成功</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="alert alert-success" role="alert">
                <h5> 操作成功 </h5>
                <strong th:text="${msg}"></strong>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    setTimeout(function(){
        window.location=/*[[@{/}]]*/'/';
    },2000)
</script>
</body>
</html>